apiVersion: v2
appVersion: 21.5.1
dependencies:
- condition: redis.enabled
  name: redis
  repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  version: 9.3.2
- condition: kafka.enabled
  name: kafka
  repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  version: 12.0.0
- condition: clickhouse.enabled
  name: clickhouse
  repository: https://sentry-kubernetes.github.io/charts
  version: 3.0.0
- alias: rabbitmq
  condition: rabbitmq.enabled
  name: rabbitmq
  repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  version: 8.9.1
- condition: postgresql.enabled
  name: postgresql
  repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  version: 10.2.4
- condition: nginx.enabled
  name: nginx
  repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  version: 6.0.5
description: A Helm chart for Kubernetes
name: sentry
type: application
version: 11.3.2
